PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/Keen-Keeper?appName=Tilux-server
DB_NAME=Keen-Keeper
BETTER_AUTH_SECRET=keen_keeper_super_secret_auth_key_2026_change_in_prod
BETTER_AUTH_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000
